/* Enter Your Custom CSS Here */

@media (min-width: 768px)
.testimonial-slider-wrap {
    padding: 0 20px !important;
}

.testimonial-slider-wrap {
    margin: 20px 0 0;
    padding: 0 30px;
    position: relative;
}


/*CSS for employer dashboard "x" number of candidates button*/
.employer_dash_button{
	text-decoration: none;
    	padding: 20px 40px;
    	background: rgb(232, 104, 104);
    	border-radius: 3px;
    	font-weight:500;
    	color: white;
}
.employer_dash_button:hover{
	text-decoration: none;
    	background: rgb(120, 20, 20);
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
 
    th[class="filled"],th[class="expires"],th[class="date"],
  td[class="filled"],td[class="expires"],td[class="date"]{
      	display:none;
    	font-size: 8px;
   	 	padding: 2px 5px;
  }
  tbody{
  	font-size: 8px;
  }
  
}

/*CSS for relocation (Andrew)*/
.fieldset-relocate_sf, .fieldset-relocate_la, .fieldset-relocate_bos, .fieldset-relocate_ny, .fieldset-relocate_austin {
		border-left: 1px solid silver !important;
		border-right: 1px solid silver !important;
		margin: 0px !important;
		font-size: 18px;
		color: black;
		font-weight: 900px;
		padding: 0px 0px 0px 20px !important;
	}
	.fieldset-relocate_sf{
		border-top: 1px solid silver !important;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		padding-top: 10px !important;
	}
	.fieldset-relocate_austin{
		border-bottom: 1px solid silver !important;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		margin-bottom: 10px !important;
		padding-bottom: 10px !important;
	}

div .halfcontainer {
  text-align:center;
}

/*containers for logo section*/

#logocont {
  display:inline-block;
  padding: 20px 0px 20px 0px;
  width: 13%;
  height: 100%;
  -webkit-filter: grayscale(100%);
filter: grayscale(100%);
}

#logocont:hover {
  -webkit-filter: grayscale(10%);
filter: grayscale(10%);
}

#logocontext {
  text-align: center;
}

@media (max-width:768px) {
#logocontext {
  text-align:center;
  margin-left:5px;
}

#logocont {
  display:inline-block;
  padding: 20px 0px 20px 0px;
  width: 30%;
  height: 100%;
}
}


p .topskillspadding {
  padding-top: 20px;
}


div .topskillspadding {
  padding-top: 20px;
}

h1.logocont {
  font-size: 30px;
margin-bottom: 50px;
font-family: "roboto";
font-weight: 400;
background-color: #5E5E5E;
padding: 5px;
color: #FFF;
text-align: center;
}

/*Fixes contact form*/
.gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium {
    width: 100%;
}
/********************/

/*Make a line - used in talent profiile submit*/
div.lineseparator {
  clear: both;
  border-bottom: 2px solid #818080;
  margin-bottom: 20px;
}

/**trending skills widget**/

div.textblock
{
  display:block;
  padding: 5px 0px 5px 0px;
}

div.freebox
{
  color: #fff;
  background-color: #59da6b;
  display: inline;
  border-radius: 2px;
  padding: 2px 15px 2px 15px;
  font-size: 14px;
  margin: 0px 5px 0px 5px;
  float:left;
}

div.sample
{
  color: #fff;
  background-color: #448ccb;
  display: inline;
  border-radius: 2px;
  padding: 2px 15px 2px 15px;
  font-size: 14px;
  margin: 0px 5px 0px 5px;
  float:left;
}




div.trendingcont
{
  padding-bottom: 40px;
}

div.redhl{
  color: red; 
}

/*Talent Profile Resume Contact Button*/
div.resume_contact .resume_contact_button{
 background-color: #4CC856; 
}
div a.job-tag{
 background-color:gray; 
}

/**Clear spacer for text spacing**/
div.spacer {
  clear:both;
  padding-bottom:60 px;
}


/* Change font size on a mobile candidate sign up form */
@media (max-width: 740px) {
#gform_10,
#gform_7,
#gform_3,
#gform_5,
#gform_12,
#gform_4,
#gform_9,
#gform_13,
#gform_14{
    font-size: 16px;
}
}

/* CSS for the resume buttons under each candidate*/
div.job-applications ul.job-applications li.job-application footer ul.actions {
  padding-bottom: 10px;  
}

div.job-applications ul.job-applications li.job-application footer ul.actions li {
  border-left: 0px solid #EEE;
}
  
div.job-applications ul.job-applications li.job-application footer ul.actions li a {
  height: 0;
  overflow: hidden;
  padding: 1em 3.8em 1em;
  float: left;
  position: relative;
  text-decoration: none;
}


@media (min-width: 1024px) {
div.job-applications ul.job-applications li.job-application footer ul.actions li a {
  height: 0;
  overflow: hidden;
  padding: 1em 3.8em 1em;
  float: left;
  position: relative;
  text-decoration: none;
  width:100%;
}
}

/*ID to center text*/
#centertext {
  text-align: center;  
}

/*CSS for top 3 skills*/
div .top-skills-resume {
  font-size: 13px;
  color: #fff;
  padding: 8px 15px;
  margin: 0 8px 8px 0;
  border-radius: 5px;
  display: inline-block;
  background: #E86A6E;
}




/*Modifications to job-tags css*/
job-tag {
  font-size: 12px;
  font-weight: 400px;
}

/*This fixes the pop up message that appears when someone tries to apply without logging in*/
.mustlogin {
position: relative;
background: #fafafa;
width: auto;
max-width: 500px;
margin: 20px auto;
padding: 30px;
border-radius: 6px;
}

/*************** BEGIN FONT CHANGES ***************/
h1,
h2,
h3,
h4,
h5,
h6 {

  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
}

p {

  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
}

label {
  font: bold 14px/normal 'Roboto', sans-serif;
  text-transform: none;
}

button, html, input, select, textarea {
  font-family: 'Roboto', sans-serif;
}

.page-subtitle {
  font: normal 14px/normal 'Roboto', sans-serif;
  /*color: #9a9b9e;*/
  margin-top: -15px;
}

.paginate-links .page-numbers {
  font: normal 13px/normal 'Roboto', sans-serif;
}


.site-title {
  font: bold 22px/normal 'Roboto', sans-serif;
}

.copyright {
  font: bold 12px/normal 'Roboto', sans-serif;
}
  
.single_job_listing .application .apply-with-linkedin {
  font: bold 15px/normal 'Roboto', sans-serif;
  text-transform: uppercase;
  background-color: #f08d3c;
  padding: 15px 50px;
  display: inline-block;
}

.application_button, .job_listing a.view-video,
.resume a.view-video,
.resume_contact_button,
.job-tag,
.single_job_listing .application .apply-with-linkedin {
  font: bold 15px/normal 'Roboto', sans-serif;
  text-transform: uppercase;
  background-color: #F08D3C;
  padding: 15px 50px;
  display: inline-block;
}

.search_jobs .filter_by_tag a {
  font: bold 12px/normal 'Roboto', sans-serif !important;
}

input[type="submit"] {
  font: 500 18px 'Roboto', sans-serif;
}

.nav-menu-primary li a, .nav-menu-primary ul li a {
    font: 500 14px 'Roboto', sans-serif;
  text-transform: none;
}


@media (max-width:768px) {

.homepage-widget-title {
  font: 400 24px/normal 'roboto',sans-serif;
  text-align: center;
  color: #fff;
  margin: 0 0 30px;
  padding: 0;
  font-family: roboto;
  text-align: center;
  background-color: rgb(140, 140, 140);
  padding: 20px;
}
}


/*************** END FONT CHANGES ***************/

/**This code handles the text for the employer logo section**/
h2.robotologo {
color: #ca5c5c;
font-family: 'Roboto', sans-serif;
font-weight: 300;
font-size: 40px;
margin-top: 40px;
text-align: center;
border-bottom: 2px #ca5c5c solid;
padding-bottom: 20px;
}

@media (min-width: 992px) {

.jobify_widget_slider_hero .soliloquy-container .soliloquy-caption-title
{
font-size: 50px;
font-weight: 300;
text-align: center;
position: relative;
/*margin-top: -200px;*/
font-family: 'Roboto', sans-serif;  
}

.jobify_widget_slider_hero .soliloquy-container .soliloquy-caption p {
 max-width: 100%;
line-height: 36px;
font-size: 28px;
font-weight: 100;
position: relative;
font-family: 'Roboto', sans-serif;  
margin-left: 140px;
margin-right: 140px;
}
}

.search_jobs > div input[type="submit"], .search_resumes > div input[type="submit"] {
    font-family: 'Roboto';
    font-weight: 500;
}

/*This modifies the h2 text's font, color, and size*/
h2.roboto {
  color: #2b2b2b;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 40px;
  margin-top: 40px;  
}

/*This modifies the p text's font, color, and size*/
p.roboto {
  color: #717171;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
}



/*Adjusts the placement of the pictures in the sections*/
img.pictureadjust {
  margin-top: 40px;
}

/*This controls the section font for dark sections*/
h2.robotolight {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size:40px;
  margin-top: 40px;
}

p.robotolight {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size:20px;  
}

h2.robotolight2 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size:26px;
  margin-top: 40px;
}

p.robotolightemp {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

h2.robotolightemp {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-top: 40px;
}

h2.robotoemp {
color: #545454;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-top: 40px;
}

p.robotoemp {
    color: #717171;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

p.robotsech {
  color: #ED8B64;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 24px;
}
  
/**Text button home page a code **/
.signupbtn {
  margin-top: 30px;
border: 3px solid #FFF;
border-radius: 4px;
display: inline-block;
border-color: #FFF;
padding: 10px 30px 10px 30px;
font-size: 1.5em;
font-weight:400;
font-family: 'Roboto', sans-serif;
color:#fff;
text-decoration:none;
}

.signupbtn:hover {
text-decoration:none;
}

/*Show white boxes around menu items on 1024px+ width*/
@media (min-width:1280px) {
.boxmenu {
  border: 2px solid #FFF;
  border-radius: 4px;
  display: inline-block;
}


}

/*This will eat the image, currently not being used*/
img.eater {
  float: right;  
}

/***************************Sections CSS********************************/
/*Mobile color css for sections*/
@media (max-width:768px) {
#text-9.homepage-widget.widget_text {
  color: #2b2b2b;
  background: #54ad9c;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
#text-12.homepage-widget {
  background: #379CC0;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#text-15.homepage-widget {
  background: #1b1b1b;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background: url("https://gradberry.com/files/2015/02/signupbcg1.png") repeat fixed center; 
}

#text-17.homepage-widget {
  background: #cb5c5c;
  max-width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
}


}

/*Desktop color css for sections*/
@media (min-width: 992px) {
#text-8.homepage-widget {
  background: #fff;
  max-width: 100%;
  padding: 70px 150px 70px 150px;
}

#text-9.homepage-widget {
  background: #54ad9c;
  max-width: 100%;
  padding: 70px 150px 70px 150px;
}

#text-10.homepage-widget {
  background: #fff;
  max-width: 100%;
  padding: 70px 150px 70px 150px;
}

#text-11.homepage-widget {
  background: #fff;
  max-width: 100%;
  padding: 70px 150px 70px 150px;
}

#text-12.homepage-widget {
  background: #379CC0;
  max-width: 100%;
  padding: 70px 150px 70px 150px;
}

#text-13.homepage-widget {
  background: #fff;
  max-width: 100%;
  padding: 70px 150px 70px 150px;
}

#text-14.homepage-widget {
  background: #fff;
  max-width: 100%;
  padding: 70px 150px 70px 150px;
}

#text-15.homepage-widget {
  background: #1b1b1b;
  max-width: 100%;
  padding: 70px 150px 70px 150px;
  background: url("https://gradberry.com/files/2015/02/signupbcg1.png") repeat fixed center; 
}

#text-16.homepage-widget {
  background: #fff;
  max-width: 100%;
  padding: 70px 150px 100px;
}

#text-17.homepage-widget {
  background: #5E5E5E;
  max-width: 100%;
  padding: 20px 100px 20px;
}

#text-18.homepage-widget {
  background: #fff;
  max-width: 100%;
  padding: 0px 150px 70px 150px;
}

#text-23.homepage-widget {
background: #005b7f; /* Old browsers */
background: -moz-linear-gradient(-45deg, #005b7f 0%, #82cef2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#005b7f), color-stop(100%,#82cef2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #005b7f 0%,#82cef2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #005b7f 0%,#82cef2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #005b7f 0%,#82cef2 100%); /* IE10+ */
background: linear-gradient(135deg, #005b7f 0%,#82cef2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005b7f', endColorstr='#82cef2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  max-width: 100%;
  padding: 0px 150px 70px 150px;
}

}

/*Really big screens 20, 22, 24 inch*/
@media (min-width: 1600px) {
#text-8.homepage-widget {
  background: #fff;
  max-width: 100%;
  padding: 70px 400px 70px 400px;
}

#text-9.homepage-widget {
  background: #54ad9c;
  max-width: 100%;
  padding: 70px 400px 70px 400px;
}

#text-10.homepage-widget {
  background: #fff;
  max-width: 100%;
  padding: 70px 400px 70px 400px;
}

#text-11.homepage-widget {
  background: #fff;
  max-width: 100%;
  padding: 70px 400px 70px 400px;
}

#text-12.homepage-widget {
  background: #379CC0;
  max-width: 100%;
  padding: 70px 400px 70px 400px;
}

#text-13.homepage-widget {
  background: #fff;
  max-width: 100%;
  padding: 70px 400px 70px 400px;
}

#text-14.homepage-widget {
  background: #fff;
  max-width: 100%;
  padding: 70px 400px 70px 400px;
}

#text-15.homepage-widget {
  background: #1b1b1b;
  max-width: 100%;
  padding: 70px 400px 70px 400px;
  background: url("https://gradberry.com/files/2015/02/signupbcg1.png") repeat fixed center; 
}

#text-16.homepage-widget {
  background: #fff;
  max-width: 100%;
  padding: 70px 400px 70px 400px;
}

#text-17.homepage-widget {
  background: #5E5E5E;
  max-width: 100%;
  padding: 20px 300px 20px 300px;
}

#text-18.homepage-widget {
  background: #fff;
  max-width: 100%;
  padding: 0px 400px 20px 400px;
}

#text-23.homepage-widget {
background: #005b7f; /* Old browsers */
background: -moz-linear-gradient(-45deg, #005b7f 0%, #82cef2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#005b7f), color-stop(100%,#82cef2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #005b7f 0%,#82cef2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #005b7f 0%,#82cef2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #005b7f 0%,#82cef2 100%); /* IE10+ */
background: linear-gradient(135deg, #005b7f 0%,#82cef2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005b7f', endColorstr='#82cef2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  max-width: 100%;
  padding: 80px 380px 80px 380px;
}

}

/*Change the text on page header with images*/
.page-title-white{font-size:26px;font-weight:400;color:#fff;padding:20px}


/***Change the text for subtitles to white***/
.page-subtitle-white {
    font: 14px "Roboto",sans-serif;
    color: #fff;
}
.page-subtitle-white a {
    color: #fff;
}
.page-subtitle-white ul {
    margin: 0px;
    padding: 0px;
    list-style: outside none none;
}
.page-subtitle-white li {
    padding: 0px 20px 0px 10px;
    border-right: 1px solid #fff;
    display: inline-block;
}
.page-subtitle-white li.job-type {
    text-align: center;
    padding: 3px 10px;
    border-right: 0px none;
    display: inline-block;
}
.page-subtitle-white li:last-child {
    border-right: 0px none;
}
/***End white color for subtitle***/

/*This will change the page header for the candidate dashboard*/
.page-header-candidate {
    font: 400 38px 'Roboto',sans-serif;
    text-align: center;
    padding: 20px 0px;
    border-bottom: 1px solid #CCC;
    background-color: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(120, 0, 0, 0.45)), url("/files/2015/05/gradberrydefaultpurplebridge.png");
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, scroll;
    background-position: 0% 0%, center bottom;
    background-clip: border-box, border-box;
    background-origin: padding-box, padding-box;
    background-size: cover;
}

/*This will change the and header for the employer dashboard*/
.page-header-employer {
    font: 400 38px 'Roboto',sans-serif;
    text-align: center;
    padding: 20px 0px;
    border-bottom: 1px solid #CCC;
    background-color: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.60)), url("/files/2015/05/gradberrydefaultgreen.png");
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, scroll;
    background-position: 0% 0%, center;
    background-clip: border-box, border-box;
    background-origin: padding-box, padding-box;
    background-size: cover;
}


/*This will change the and header for the employer dashboard*/
.page-header-singlejob {
    font: 400 38px 'Roboto',sans-serif;
    text-align: center;
    padding: 20px 0px;
    background: none repeat scroll 0% 0% #FAFAFA;
    border-bottom: 1px solid #CCC;
  	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.60)), url("/files/2015/05/gradberrydefaultpurple.png");
    background-size: cover;
}
.page-title-singlejob {
    color: #fff; 
}
.page-subtitle-singlejob {
	color: #fff;  
}
.page-subtitle-singlejob a{
	color: #fff;  
}

/*This controls the bounce animation for the chevron*/
.animated { 
    -webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-out; 
    animation-timing-function: ease-out; 
} 

@-webkit-keyframes bounceInDown { 
   0% { 
       opacity: 0; 
        -webkit-transform: translateY(-2000px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateY(30px); 
    } 
    80% { 
        -webkit-transform: translateY(-10px); 
    } 
    100% { 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes bounceInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateY(30px); 
    } 
    80% { 
        transform: translateY(-10px); 
    } 
    100% { 
        transform: translateY(0); 
    } 
} 

.bounceInDown { 
    -webkit-animation-name: bounceInDown; 
    animation-name: bounceInDown; 
}

/**this hides the chevron display on mobile devices**/
@media (max-width:768px) {
.animated {
  display: none; 
}
}


/**This is custom CSS for the home page button in the slider**/

#buttondiv {
/*border: 3px solid #FFF;*/
border-radius: 4px;
display: inline-block;
border-color: #FFF;
padding: 15px 30px 15px 30px;
font-size: 1.5em;
background-color:#04CA7F;
}

.btncol {
  color:#fff;
}

#buttondiv:hover {
  background-color:#279068;
}

#buttondiv2 {
/*border: 3px solid #FFF;*/
border-radius: 4px;
display: inline-block;
border-color: #FFF;
padding: 15px 30px 15px 30px;
font-size: 1.5em;
background-color:#f49060;
}

#buttondiv2:hover {
  background-color:#f26522;
}

#horizontalspace {
  padding-left:20px;
  padding-right:20px;
  display:inline;
}

@media (max-width:768px) {

#buttondiv2 {
display:none;
}

#buttondiv {
/*border: 3px solid #FFF;*/
border-radius: 4px;
display: inline-block;
border-color: #FFF;
padding: 15px 30px 15px 30px;
font-size: 0.8em;
background-color:#04CA7F;
margin-right: -35px;
}

}


/**************************************************************************/
/*CSS for the bottom signup button*/  
#bottomsignup {
    display: table;
    width: 100%;
}
#bottomsignuprow {
    display: table-row;
  	width: 100%;
}
#bottomsignupcol1 {
display: table-cell;
float: left;
width: 65%;
}  
#bottomsignupcol2 {
display: table-cell;
float: left;
width: 35%;
}
h2.robotolightbot {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size:26px;
}
.signupbtnbot {
float: right;
margin: 25px 0px;
border: 3px solid #FFF;
border-radius: 4px;
display: inline-block;
border-color: #FFF;
padding: 10px 30px 10px 30px;
font-size: 1.5em;
font-weight:400;
font-family: 'Roboto', sans-serif;
color:#fff;
text-decoration:none;
}

/*CSS for the bottom signup button (MOBILE)*/  
@media (max-width:768px) {
#text-15.homepage-widget {
padding: 70px;
}

#bottomsignup {
}
#bottomsignuprow {
}
#bottomsignupcol1 {
  display: none;
}  
#bottomsignupcol2 {
  text-align: center;
  display: table-cell;
	float: left;
	width: 100%;
}
h2.robotolightbot {
  display: none;
}
.signupbtnbot {
float: none;
border: 3px solid #FFF;
border-radius: 4px;
display: inline-block;
border-color: #FFF;
padding: 10px 30px 10px 30px;
font-size: 1.2em;
font-weight:400;
font-family: 'Roboto', sans-serif;
color:#fff;
text-decoration:none;
}

}

/**CSS regular button styling**/
.btnregstyling {
text-decoration:underline;
}

/**Custom button with no margins**/
.normalbtn {
  margin-top: 30px;
border: 3px solid #c23439;
border-radius: 4px;
display: inline-block;
border-color: #c23439;
padding: 10px 30px 10px 30px;
font-size: 1.5em;
font-weight:400;
font-family: 'Roboto', sans-serif;
color:#c23439;
text-decoration:none;
}

.normalbtn:hover {
text-decoration:none;
border-color: #99be4f;
  color:#99be4f;
}

/**Custom button with margins**/
.normalbtnmrg {
  margin-top: 30px;
border: 2px solid #c23439;
border-radius: 4px;
display: inline-block;
border-color: #c23439;
padding: 10px 25px 10px 25px;
font-size: 1.1em;
font-weight:400;
font-family: 'Roboto', sans-serif;
color:#c23439;
text-decoration:none;
margin-right:20px;
}

.normalbtnmrg:hover {
text-decoration:none;
border-color: #99be4f;
  color:#99be4f;
}

/*BEGIN CSS for top 3 skills and sponsorship for employer dashboard*/
div .top-skills-resume-profile {
  color: #FFF;
  display: inline-block;
  background: none repeat scroll 0% 0% #E86A6E;
  font-size: 14px;
  border-radius: 5px;
  padding: 0px 12px;
  margin: 0px 10px 0px 0px;
}

.sponsorshipprofile {
  margin: 15px 0px 0px 0px;
  
}

.threeskillsdiv {
  display: inline-block;
  margin-right: 0em;
  width: 100%;
  text-align:right;
}

@media (max-width:768px) {
.threeskillsdiv {
  display: inline-block;
  margin-right: 0em;
}

div .top-skills-resume-profile {
  margin: 0px 0px 0px 10px;  
}

div.job-applications ul.job-applications li.job-application header .job-application-rating:before {
  display: none;
}

.sponsorshipprofile {
  display: inline-table;
}
}

@media (max-width:375px) {
div .threeskillsdiv {
    width: 100%;
    float: right; 
  }
div .top-skills-resume-profile {
    display: inline block;
    margin:10px 10px 10px 0px;
}

div.job-applications ul.job-applications li.job-application header .job-application-rating:before {
  display: none;
}

div.job-applications ul.job-applications li.job-application footer ul.meta {
    max-width: 100%;
}
}

@media (max-width:374px) {
div .threeskillsdiv {
    width: 100%;
    float: left; 
  }
div .top-skills-resume-profile {
    display: inline-block;
    margin:5px 5px 10px 0px;
  	padding: 0px 1px 0px 1px;
}

div.job-applications ul.job-applications li.job-application header .job-application-rating:before {
  display: none;
}

div .applicationslist {
	text-align: center;  
}

div.job-applications ul.job-applications li.job-application footer ul.meta {
    max-width: 100%;
}
}

/*END CSS for top 3 skills and sponsorship for employer dashboard*/

/**
STICKY HEADER BEGIN
**/
.site-header {
  background: #000;
  position: fixed;
  width: 100%;
  margin-bottom: 500px;
}
#main{
	margin-top: 95px;
}
@media (max-width: 740px) {
#main{
	margin-top: 75px;
}
}
/**
STICKY HEADER END
**/
p{
 font-weight: 300; 
}
.page-header-hidden {
 display: none !important; 
}
.page-title-hidden {
 display: none !important; 
}

/* Portrait and Landscape - Modify font size of soliloquy on mobile */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
	.jobify_widget_slider .soliloquy-container .soliloquy-caption-title, .jobify_widget_slider_hero .soliloquy-container .soliloquy-caption-title{
   	 font-size: 20px;
  }
}

/* Icon for Create an Account */
i[class="icon-create-square"]::before{
 content: '\e84e';
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  		td[class="td-candidate-recommendations"]{
   		padding: 15px 5px 15px 0px;
    	font-size: 14px;
  }
  
  	th[class="resume-category"], th[class="status"], td[class="resume-category"], td[class="status"],
  	th[class="candidate-title"], td[class="candidate-title"], th[class="location"], 
  	td[class="location"], th[class="date"], td[class="date"]{
    	display:none;
  	}
}

/* Form CSS gradberry-subscription */
.gform_wrapper div.validation_error{
 	color: #D94955;
  	font-weight: 700;
    border: none;
  	padding: 1em 25px;
  	width: 100%;
  	font-size: 1em;
}

.gform_wrapper li.gfield.gfield_error{
  background-color: white;
  border: none;
}
.gform_wrapper .gfield_error .gfield_label, .gform_wrapper .gfield_required, .gform_wrapper li.gfield_error div.ginput_complex.ginput_container label, .gform_wrapper .validation_message, .gform_wrapper li.gfield_error ul.gfield_radio, .gform_wrapper li.gfield_error ul.gfield_checkbox{
 	color: #D94955; 
}

#gform_submit_button_23{
  font: 700 18px Montserrat,sans-serif;
}
#gf_coupon_button{
	font: 400 17px "Varela Round",Helvetica,sans-serif;
	padding: 0.4em 20px;
}  
#gf_coupon_button:hover{
  background: white;
}

/* Tabby CSS */
.responsive-tabs-wrapper ul.responsive-tabs__list li{
text-align: center;
}

/*containers for press section*/

#presscont {
  display:inline-block;
  padding: 10px 0px 10px 0px;
  width: 19%;
  height: 100%;
  text-align: center;
  -webkit-filter: grayscale(100%);
filter: grayscale(100%);
}

#presscont:hover {
  -webkit-filter: grayscale(10%);
filter: grayscale(10%);
}
  

h1.pressont {
  font-size: 30px;
margin-bottom: 50px;
font-family: "roboto";
font-weight: 300;
background-color: #4A8ADE;
padding: 5px;
color: #FFF;
border-bottom: solid 5px #376AAD;
text-align: center;
}

@media (max-width:768px) {
#presscont {
  display:inline-block;
  padding: 10px 0px 10px 0px;
  width: 100%;
  height: 100%;
}
}


body #gform_wrapper_24 .gform_body .gform_fields .gfield select { background: url(https://gradberry.com/files/2015/07/down_arrow_select.png) no-repeat right 10px center #fff; }


//**FAQ Page CSS Codes**//

ul.sidelist {
  list-style-type: none;
}

li.sidelist {
  font-famiy:"roboto";
  font-weight:300;
  font-size:14px;
  margin-left: -30px;
  padding-right: 50px;
  list-style-type: none;
  line-height: 30px;
}

p.lastpara {
  border-bottom: 1px solid #c2c7d0;
  padding-bottom: 30px;  
  margin-bottom: 20px;
}

h4.faqtitles {
  color:#393669;
  font-size:20px;
}

#buttonfaqdiv {
    border-radius: 4px;
    display: inline-block;
    font-size: 1.2em;
    background-color: #04ca7f;
    width: 95%;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: 500;
}

#buttonfaqdiva {
    border-radius: 4px;
    display: inline-block;
    font-size: 1.2em;
    background-color: #04ca7f;
    width: 95%;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: 500;
    border-bottom: solid 4px #479074;
}

#buttonfaqdiv2 {
    border-radius: 4px;
    display: inline-block;
    font-size: 1.2em;
    background-color: #f49060;
    width: 95%;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: 500;
}

#buttonfaqdiv2a {
    border-radius: 4px;
    display: inline-block;
    font-size: 1.2em;
    background-color: #f49060;
    width: 95%;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: 500;
    border-bottom: solid 4px #CE7E58;
}

#buttonfaqdiv:hover {
    background-color: #279068;
}

#buttonfaqdiv2:hover {
    background-color: #f26522;
}

#buttonfaqdiv:active {
    background-color: #279068;
  border-bottom:solid 4px #04ca7f;
}

#buttonfaqdiv2:active {
    background-color: #f26522;
  border-bottom:solid 4px #f49060;
}

#buttonfaqdiva {
    border-radius: 4px;
    display: inline-block;
    font-size: 1.2em;
    background-color: #279068;
    width: 95%;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: 500;
  border-bottom:solid 4px #04ca7f;
}

/**Scheduler CSS***/

.boxunderline {
font-size: 16px;
padding: 10px 14px;
background: #FFF none repeat scroll 0% 0%;
border-bottom: 2px solid rgb(204, 204, 204);
border-radius: 6px;
width: 100%;
}

.selectacompany {
position: relative;
display: block;
overflow: hidden;
padding: 7px 0px 0px 10px;
height: 40px;
border: 1px solid #AAA;
border-radius: 5px;
background: transparent -moz-linear-gradient(center top , #FFF 20%, #F6F6F6 50%, #EEE 52%, #F4F4F4 100%) repeat scroll 0% 0% padding-box;
box-shadow: 0px 0px 3px #FFF inset, 0px 1px 1px rgba(0, 0, 0, 0.1);
color: #444;
text-decoration: none;
white-space: nowrap;
line-height: 24px;
}

.page-header-pricing {
    font: 500 45px 'Roboto',sans-serif;
    text-align: center;
    padding: 180px 0px;
    border-bottom: 1px solid #CCC;
    background-color: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.60)), url("https://gradberry.com/files/2015/08/teamwork1.jpg");
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, scroll;
    background-position: 0% 0%, center;
    background-clip: border-box, border-box;
    background-origin: padding-box, padding-box;
    background-size: cover;
    margin-top: -100px;
    padding-bottom: 120px;
}

.page-title-white2 {
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    padding: 20px;
}

.hide_css {
  display: none;
}

#input_7_8 div textarea {
	height: 20em;  
}
